{% load static %}

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About us</h6>
          <p class="text-justify">FashionHome is a dedicated effort to deliver latest fashion at affordable prices. FashionHome focuses on quality and customer-first approach. We believe we can be your personaized fashion expert!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Terms & Conditions</h6>
          <ul class="footer-links">
            <li><a href="{% static '/docs/tnc.pdf' %}" target="_blank" download="terms.pdf">Terms of Service</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Social Media Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.instagram.com/fasionhome908">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/fashion-home-2b3356221">LinkedIn</a></li>
            <li><a href="https://m.facebook.com/102158428841949/">facebook</a></li>
          </ul>
        </div>
      </div>
      <hr/>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="#"> Sanchit Raj</a>.
          </p>
        </div>

      </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static '/scripts/scripts.js' %}"></script>